<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{::title}, ~{::style})">
  <title>Hot Deal Post</title>

  <style>

    #link {
      color: unset;
      text-decoration: none;
    }
    #link:hover {
      color: dodgerblue;
    }
    .buttons {
      margin: 2em 0 4em 0;
      overflow: hidden;
    }
    .buttons a {
      padding: 0.5em 1em;
      background-color: #666;
      color:white;
      text-decoration: none;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }

  </style>

</head>
<body th:replace="layout :: body(~{::div}, ~{::script})">
  <div th:object="${postViewDTO}" style="overflow: hidden;">
    <div style="padding: 1em 0; border-bottom: solid 1px #666;">
      <span style="font-size: 1.2em; font-weight: bold;">핫딜 게시글</span>
    </div>

    <div style="padding: 1.5em 0; border-bottom: solid 1px #ccc;">
      <div id="category" style="opacity: 0.7;" th:text="*{category}">컴퓨터</div>
      <div>
        <div class="right" style="margin: 0 1em; line-height: 4em;">조회 <span th:text="*{hit}">10</span></div>
        <div class="right" style="line-height: 4em;">추천 <span th:text="*{vote}">1</span></div>
        <div style="font-size: 1.5em;" th:text="*{title}">Xbox 무선 컨트롤러 4세대</div>
        <div id="price" style="font-size: 1.3em; color: tomato;" th:text="*{price}">52,240원</div>
      </div>

      <div style="margin-top: 1.5em; ">
        <a id="link" href="http://www.gmarket.co.kr"
           th:href="*{link}" th:text="*{link}">http://www.gmarket.co.kr</a>
      </div>
    </div>

    <div style="margin: 1.5em 0; border-bottom: solid 1px #ccc;">
      <div>
        <img style="width: 100%; object-fit: contain;" th:src="|/upload/*{storedFilename}|">
      </div>
      <p th:text="*{content}">와우 회원이셔야 합니다. 회원 아닐시 2천원 더 비싸네요. <br>
        쇼크블루 컬러이고 52,240원 나옵니다. 컨트롤러 찾으시는분들 참고하세요. <br>
        서울/경기는 내일 도착 보장이네요.</p>
    </div>

    <div class="buttons">
      <a href="/posts/" th:href="@{/posts(pageNumber=${pageNumber})}" class="right">목록</a>
      <a th:if="(${session.memberSessionDTO} != null) and (${session.memberSessionDTO.memberId} == ${postViewDTO.memberId})"
         th:href="@{/posts/{postId}/delete(postId=*{postId}, pageNumber=${pageNumber})}" class="left">삭제</a>
      <a th:if="(${session.memberSessionDTO} != null) and (${session.memberSessionDTO.memberId} == ${postViewDTO.memberId})"
         th:href="@{/posts/{postId}/update(postId=*{postId}, pageNumber=${pageNumber})}" class="left" style="margin: 0 0.5em;">수정</a>
      <a th:unless="${session.memberSessionDTO} == null" href="/posts/new" class="left">글쓰기</a>
    </div>

  </div>


  <script>
    let categoryElement = document.getElementById("category");
    categoryElement.innerText = setCategory(categoryElement.innerText);

    let priceElement = document.getElementById("price");
    priceElement.innerText = setPrice(priceElement.innerText);

    function setCategory(cat) {
      switch (cat) {
        case "FOOD":
          return "식품";
        case "COMPUTER":
          return "컴퓨터";
        case "ELECTRONICS":
          return "가전";
        case "GAME":
          return "게임";
        case "CLOTHING":
          return "의류";
        case "GIFT_CARD":
          return "상품권";
        case "OTHERS":
          return "기타";
        default:
          return cat;
      }
    }

    function setPrice(str) {
      if (str == null) {
        return null;
      }

      let price = parseInt(str);

      return numberWithCommas(price) + "원";
    }

    function numberWithCommas(int) {
      if (int < 1000) {
        return int;
      }

      let quotient = Math.floor(int / 1000);
      let remainder = int % 1000;

      if (remainder < 10) {
        remainder = "00" + remainder.toString();
      } else if (remainder < 100) {
        remainder = "0" + remainder.toString();
      }

      return numberWithCommas(quotient).toString() + "," + remainder;
    }

    function numberWithCommas2(str) {
      let pattern = '/(-?/d+)(/d{3})/';
      str = str.toString();
      while (pattern.test(str)) {
        str.replace(pattern, "$1,$2");
      }
    }

  </script>

</body>
</html>